# Copy this file to ".env" in the same directory and set your key.
# NOTE: In Create React App, environment variables must start with REACT_APP_ to be available in the client.
REACT_APP_OPENAI_API_KEY=sk-your-openai-key-here
